* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 35em;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 35em;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 20em; Mobile*/ 
    text-align: center;
    background-color: yellowgreen;
}

.ferramentas {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 40em;
    /*width: 25em; Mobile*/
    background-color: yellowgreen;
}

.separador {
    content: " ";
    width: 5em;
    height: 0.4em;
    border-radius: 5px;
    background-color: yellowgreen;
}

.content-separador {
    display: flex;
    justify-content: center;
}