.social {
    @include flexbox-structure;

    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    background-color: $black;


    .rede-social {
        @include flexbox-structure;
        flex-direction: row;
        padding: 5px 5px;
        margin: 0 30px;

        img {
            width: 30px;
            height: 30px;
            transition: 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: translateY(-10%);
            }
        }
    }

    .linkedin img {
        width: 25px;
        height: 25px;
    }
}

.container-footer {
    @include gutter;

    flex-direction: row;
    justify-content: center;
    color: $white;
    background-color: $black;
    font-family: $font-2;
}



//MOBILE

@include responsive(mobile){
    .container-footer {
        padding-left: 0;
        padding-right: 0;
    }
}