.inicial {
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(0deg, #100F10, rgb(30, 30, 30));

    @include gutter;
    
    h2 {
        color: $white;
        padding-bottom: 5px;
        font-family: $font-1;
        font-size: 4rem;
    }

    p {
        color: $white;
        font-family: $font-2;
    }

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        width: 15em;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        background-color: $purple;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: translateY(-10%);
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $white;
            padding-left: 38px;
            font-family: $font-1;
        }

        img {
            width: 35px;
            height: 35px;
            margin-left: 10px; 
        }
    }
}

.div-inicial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inicial-img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: $purple;
    
    &:hover {
        img{
            opacity: 1;
        } 
    }
    
    img {
        padding-top: 15px;
        width: 200px;
        height: 280px;
        transition: 0.5s ease;
        opacity: 0.5;
    }
}

@include responsive(mobile) {
    .inicial {
        padding-left: 0;
        padding-right: 0;
        height: 40em;
        flex-direction: column-reverse;
    }

    .inicial-img {
        margin: 50px auto;
    }

    .div-inicial {
        margin-bottom: 70px;
        align-items: center;
        h2 {
            font-size: 3rem;
        }
    }
}