.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background: linear-gradient(0deg,  rgb(30, 30, 30),  rgb(33, 33, 33));

    @include gutter;

    h1 {
        a {
            font-family: $font-1;

            &:hover {
                border-bottom: none;
            }
        }
    }

    ul {
        display: flex;
    }

    li + li {
        padding-left: 30px;
    }
    
    a {
        color: $white;
        text-decoration: none;
        font-family: $font-2;

        &:hover {
            border-bottom: 2px solid $purple;
        }
    }
}