.construcao {
    display: none;
}

// TALVEZ COLOCAR UM CARROSEL
.cont-projetos {
    color: $white;
    background-color: $black;
    height: 30em;

    h3 {
        font-family: $font-1;
        font-size: 2rem;
    }

    img {
        margin-top: 90px;
    }

    p {
        font-family: $font-2;
        margin-bottom: 50px;
    }
}

.projetos {
    @include flexbox-structure;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin: 20px 20px;
    padding: 20px 20px;

    .proj {
        @include flexbox-structure;
        width: 200px;
        margin: 20px 5px;
    }
}